@using Budget.Core.UseCases.Transactions.Overview
<form x-data method="get" x-ref="ibanForm">
    <div class="form-floating">
        <input type="hidden" name="@nameof(OverviewRequest.Year)" value="@Date.GetValueOrDefault().Year">
        <input type="hidden" name="@nameof(OverviewRequest.Month)" value="@Date.GetValueOrDefault().Month">
        <select name="iban" class="form-select" x-on:change="$refs.ibanForm.submit()">
            @foreach (var iban in Ibans)
            {
                <option value="@iban" @key="iban" selected="@(iban == IbanSelected)">@iban</option>
            }
        </select>
        <label>Iban</label>
    </div>
</form>

@code {
    [Parameter] public IEnumerable<string> Ibans { get; set; } = [];
    [Parameter] public string? IbanSelected { get; set; }
    [Parameter] public DateTime? Date { get; set; }
}