@using Budget.Core.Extensions
@using Budget.Core.UseCases.Transactions.Overview
@using Budget.Htmx.Endpoints.Transactions
@inject LinkGenerator Linker

<tr class="align-middle">
    <td></td>
    <td>@Transaction.OriginalDate.ToIsoWeekNumber()</td>
    <td>@Transaction.Date.ToString("dd-MM")</td>
    <td colspan="3">
        <form hx-patch="@Linker.GetPathByName(PatchTransactionCashbackDateEndpoint.RouteName, new { id = Transaction.Id })" hx-target="closest tr" hx-swap="outerHTML">
            <div class="row align-items-center">
                <div class="col-9">
                    <div class="form-floating mb-1">
                        <input type="date" id="markAsCashback" name="@nameof(PatchTransactionCashbackDateEndpoint.ViewModel.CashbackDate)" class="form-control" value="@Transaction.Date.ToString("yyyy-MM-dd")">
                        <label for="markAsCashback">@Transaction.NameOtherParty</label>
                    </div>
                </div>
                <div class="col-3 d-flex gap-2">
                    <div>
                        <button type="submit" class="btn btn-success">
                            <span class="spinner-border spinner-border-sm htmx-indicator" aria-hidden="true"></span>
                            <span class="visually-hidden htmx-indicator" role="status">Loading...</span>

                            <i class="bi bi-send"></i>
                            <span class="visually-hidden">Save cashback date</span>
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-danger"
                                hx-get="@Linker.GetPathByName(GetTransactionEndpoint.RouteName, new { id = Transaction.Id })"
                                hx-swap="outerHTML"
                                hx-target="closest tr">
                            <i class="bi bi-sign-stop"></i>
                            <span class="visually-hidden">Cancel marking</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </td>
    <td>@Transaction.Description</td>
</tr>

@code {
    [Parameter, EditorRequired] public OverviewTransaction Transaction { get; set; }
}